@font-face {
  font-family: 'coditor';
  src:  url('fonts/coditor.eot?s9ma8');
  src:  url('fonts/coditor.eot?s9ma8#iefix') format('embedded-opentype'),
    url('fonts/coditor.ttf?s9ma8') format('truetype'),
    url('fonts/coditor.woff?s9ma8') format('woff'),
    url('fonts/coditor.svg?s9ma8#coditor') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coditor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-browser-window:before {
  content: "\e92e";
}
.icon-bug:before {
  content: "\e92f";
}
.icon-dashboard:before {
  content: "\e930";
}
.icon-alert-circle:before {
  content: "\e900";
}
.icon-alert-triangle:before {
  content: "\e901";
}
.icon-align-left:before {
  content: "\e902";
}
.icon-anchor:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-check-circle:before {
  content: "\e908";
}
.icon-check-square:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-chevrons-down:before {
  content: "\e90b";
}
.icon-chevrons-up:before {
  content: "\e90c";
}
.icon-clock:before {
  content: "\e90d";
}
.icon-code:before {
  content: "\e90e";
}
.icon-command:before {
  content: "\e90f";
}
.icon-edit:before {
  content: "\e910";
}
.icon-external-link:before {
  content: "\e911";
}
.icon-eye-off:before {
  content: "\e912";
}
.icon-eye:before {
  content: "\e913";
}
.icon-file-text:before {
  content: "\e914";
}
.icon-filter:before {
  content: "\e915";
}
.icon-help-circle:before {
  content: "\e916";
}
.icon-loader:before {
  content: "\e917";
}
.icon-maximize-2:before {
  content: "\e918";
}
.icon-maximize:before {
  content: "\e919";
}
.icon-menu:before {
  content: "\e91a";
}
.icon-minimize-2:before {
  content: "\e91b";
}
.icon-minimize:before {
  content: "\e91c";
}
.icon-moon:before {
  content: "\e91d";
}
.icon-more-horizontal:before {
  content: "\e91e";
}
.icon-pause-circle:before {
  content: "\e91f";
}
.icon-play:before {
  content: "\e920";
}
.icon-plus:before {
  content: "\e921";
}
.icon-refresh-ccw:before {
  content: "\e922";
}
.icon-rotate-ccw:before {
  content: "\e923";
}
.icon-rotate-cw:before {
  content: "\e924";
}
.icon-settings:before {
  content: "\e925";
}
.icon-sliders:before {
  content: "\e926";
}
.icon-sun:before {
  content: "\e927";
}
.icon-terminal:before {
  content: "\e928";
}
.icon-trash-2:before {
  content: "\e929";
}
.icon-user:before {
  content: "\e92a";
}
.icon-x-circle:before {
  content: "\e92b";
}
.icon-x:before {
  content: "\e92c";
}
.icon-zap:before {
  content: "\e92d";
}
